<div class="header">
    @if(adminService.isAdmin())
    {
        <button class="logout" (click)="logout()">Logout</button>
    }
    @else 
    {
        <button class="login" (click)="otvoriFormu()">Login</button>

        @if (prikaziFormu()) 
        {
        <div class="overlay">
        <div class="modal">
            <form [formGroup]="forma" (ngSubmit)="sacuvaj()">
                <input type="text" formControlName="username" placeholder="Username" />
                <input type="text" formControlName="password" placeholder="Password" />
                <div class="dugmici">
                  <button type="button" (click)="zatvoriFormu()">Otkaži</button>
                  <button type="submit">Login</button>
                </div>
            </form>
        </div>
        </div>
        }
    }
</div>
