@if (igrica)
{
    <div class="kontejner_igrica">
        @if (igrica.id > 32)
        {
            <img src="./Slike/default.png" class="image_wrapper">
        }
        @else
        {
            <img src="./Slike/{{igrica.id}}.jpg" class="image_wrapper">
        }
        <h3>{{igrica.ime}}</h3>
        <p>Žanr: {{igrica.zanr}}</p>
        <p>Godina: {{igrica.godina}}</p>
        <p>Rating: {{igrica.rating.toFixed(1)}}</p>
        <div class="divider_linija">
        </div>
        <div class="cena_kontejner">
           <h3>{{izracunaj_cenu(igrica.osnovna_cena, igrica.popust)}}$</h3>
           <h3>-{{igrica.popust}}%</h3>
        </div>
        <button (click)="dodaj_u_korpu()">Dodaj u korpu</button>
        @if (this.admin_service.isAdmin())
        {
            <button class="izbrisi_dugme" (click)="izbrisi_igru()">Izbriši igru</button>
        }
    </div>
}
